<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Artifactory" value="https://acessocard.jfrog.io/acessocard/api/nuget/nuget-local" />
	<add key="Azure" value="https://acessocardvsts.pkgs.visualstudio.com/_packaging/Acesso/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Artifactory>
      IMPORTANTE! aqui deve ser o mesmo "Key" da chave de packageSources
      <add key="Username" value="ci" />
      <add key="ClearTextPassword" value="AKCp2WWsUWVTvquLZhaJffCX2LvFDbevjS9Egq9Qx8r3Nyc46wv8Be1DQ3U1WaY6yrQrNUutk" />
    </Artifactory>
	<Azure>
		<add key="Username" value="ci" />
		<add key="ClearTextPassword" value="pswgttyhqx7uir6gz4zzfjpivffpmylr5vddwftwu2a4ljcon5ra" />
	</Azure>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>